* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    color: #292929;
}

li,
ol {
    list-style: none;
}

a {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    text-decoration: none;
    color: #292929;
    display: inline-block;
}

button {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    cursor: pointer;
    border: none;
    background: none;
    vertical-align: middle;
    &:focus {
        outline: 0;
    }
}

img {
    display: inline-block;
    background: none;
    border: none;
}

input, textarea {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    border: none;
    resize: none;
}

// margin
@for $i from 0 through 30 {
    .mg-#{$i} {
        margin: 1px * $i !important;
    }

    .mg-top-#{$i} {
        margin-top: 1px * $i !important;
    }

    .mg-bottom-#{$i} {
        margin-bottom: 1px * $i !important;
    }

    .mg-right-#{$i} {
        margin-right: 1px * $i !important;
    }

    .mg-left-#{$i} {
        margin-left: 1px * $i !important;
    }
}

// padding
@for $i from 0 through 30 {
    .pd-#{$i} {
        padding: 1px * $i !important;
    }

    .pd-top-#{$i} {
        padding-top: 1px * $i !important;
    }

    .pd-bottom-#{$i} {
        padding-bottom: 1px * $i !important;
    }

    .pd-right-#{$i} {
        padding-right: 1px * $i !important;
    }

    .pd-left-#{$i} {
        padding-left: 1px * $i !important;
    }
}
// width
@for $i from 1 through 100 {
    .width-#{$i} {
        width: $i * 1% !important;
    }
}

// icon
@for $i from 1 through 100 {
    .icon-#{$i} {
        width: $i * 1px !important;
        height: $i * 1px !important;
    }
}

.center{
    max-width: 1200px;
    margin:auto;
    position: relative;
}

// #bfff00
// rgba(0, 239, 209, 1)