* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    color: #292929;
    position: relative;
}

li,
ol {
    list-style: none;
}

a {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    text-decoration: none;
    color: #292929;
    display: inline-block;
}

button {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    cursor: pointer;
    border: none;
    background: none;
    vertical-align: middle;
    &:focus {
        outline: 0;
    }
}

img {
    display: inline-block;
    background: none;
    border: none;
}

input, textarea {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    border: none;
    resize: none;
}

// margin
@for $i from 0 through 100 {
    .mg-#{$i} {
        margin: 1px * $i !important;
    }

    .mg-top-#{$i} {
        margin-top: 1px * $i !important;
    }

    .mg-bottom-#{$i} {
        margin-bottom: 1px * $i !important;
    }

    .mg-right-#{$i} {
        margin-right: 1px * $i !important;
    }

    .mg-left-#{$i} {
        margin-left: 1px * $i !important;
    }
}

// padding
@for $i from 0 through 100 {
    .pd-#{$i} {
        padding: 1px * $i !important;
    }

    .pd-top-#{$i} {
        padding-top: 1px * $i !important;
    }

    .pd-bottom-#{$i} {
        padding-bottom: 1px * $i !important;
    }

    .pd-right-#{$i} {
        padding-right: 1px * $i !important;
    }

    .pd-left-#{$i} {
        padding-left: 1px * $i !important;
    }
}
// width
@for $i from 1 through 100 {
    .width-#{$i} {
        width: $i * 1% !important;
    }
}

// icon
@for $i from 1 through 100 {
    .icon-#{$i} {
        width: $i * 1px !important;
        height: $i * 1px !important;
    }
}

.center{
    max-width: 1200px;
    margin:auto;
    position: relative;
}

.project-area{
    width: 100%;
    height: 100vh;
    .center{  
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .img-area {
            width: 55%;
            display: flex;

            img {
                width: 100%;

            }
        }
        .info-area {
           width: 45%;
            h3{
                font-size: 26px;
                padding-bottom: 20px;
                span{
                    font-size: 16px;
                }
                .year{
                    padding-left: 8px;
                    font-weight: 300;
                }
            }
            .text-area{
                padding-bottom: 16px;
                strong{
                    font-size: 18px;
                    padding-top: 16px;
                    display: block;
                }
                p{
                    font-size: 16px;
                }
            }
  
            .btn-group{
                padding: 6px 0px;
                // background: #bfff00;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    font-size: 16px;
                    width: 100%;
                    padding: 8px 0px;
                    margin: 4px 10px;
                    border: solid 1px #292929;
                    border-radius: 20px;
                    text-align: center;
                    transition: .2s;
                    &:hover{
                        color: #fff;
                        background: #1cf0cb;
                        border: solid 1px #1cf0cb;
                    }
                } 
            }
        }
    }
}

// #bfff00
// rgba(0, 239, 209, 1)

// animation
@keyframes starRotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%{
        top: 0px;
    }
    50%{
        top: 7px;
    }   
    100%{
       top: 0px;
    }
}